## Imports

In [0]:
import numpy as np    # lin alg
import pandas as pd   # data manipulation
import matplotlib.pyplot as plt # basic visualizations
import seaborn as sns
from functools import reduce
pd.options.mode.chained_assignment = None  # default='warn'
from google.colab import files

## PFD Datasets

In [0]:
pfd_16 = pd.read_csv('https://raw.githubusercontent.com/BrianThomasRoss/Brian_Ross_DataStorytellingProject/master/raw_csv_files/PFDs/2016PFD%20-%20Sheet1.csv?token=ALRVPBXKWISC7FARAFUNAMK5WO76S')
pfd_15 = pd.read_csv('https://raw.githubusercontent.com/BrianThomasRoss/Brian_Ross_DataStorytellingProject/master/raw_csv_files/PFDs/2015PFD%20-%20Sheet1.csv?token=ALRVPBRQRDHRMI5SWMHOOSK5WRPOC')
pfd_14 = pd.read_csv('https://raw.githubusercontent.com/BrianThomasRoss/Brian_Ross_DataStorytellingProject/master/raw_csv_files/PFDs/2014PFD%20-%20Sheet1.csv?token=ALRVPBWOPATBQHF47BJPQ7C5WRPQK')
pfd_13 = pd.read_csv('https://raw.githubusercontent.com/BrianThomasRoss/Brian_Ross_DataStorytellingProject/master/raw_csv_files/PFDs/2013PFD%20-%20Sheet1.csv?token=ALRVPBUZN2V2W4O4MOMO2H25WRPSO')
pfd_12 = pd.read_csv('https://raw.githubusercontent.com/BrianThomasRoss/Brian_Ross_DataStorytellingProject/master/raw_csv_files/PFDs/2012PFD%20-%20Sheet1.csv?token=ALRVPBQCOTPMVLDX3JOCLW25WRPTY')
pfd_11 = pd.read_csv('https://raw.githubusercontent.com/BrianThomasRoss/Brian_Ross_DataStorytellingProject/master/raw_csv_files/PFDs/2011PFD%20-%20Sheet1.csv?token=ALRVPBWEPQGI7NPTUKSQ4H25WRPWA')
pfd_10 = pd.read_csv('https://raw.githubusercontent.com/BrianThomasRoss/Brian_Ross_DataStorytellingProject/master/raw_csv_files/PFDs/2010PFD%20-%20Sheet1.csv?token=ALRVPBRPYYNZ34RZ53RNFRS5WRPXE')

In [50]:
pfd_16.head()

   Rank                        Name  ... Maximum Net Worth Chamber
0     4      Darrell Issa (R-Calif)  ...      $484,400,000   House
1     5        Jared Polis (D-Colo)  ...      $453,692,001   House
2     8          Mark Warner (D-Va)  ...      $401,196,000  Senate
3     9       John K Delaney (D-Md)  ...      $345,858,003   House
4    10  Trey Hollingsworth (R-Ind)  ...      $235,345,000   House

[5 rows x 6 columns]

### Data Wrangling

### Functions

In [0]:
# DataFrame manipulations

def drop_raw_columns(df):
  """Drops unneeded columns from input DataFrame"""
  new_df = df[['Name', 'Average', 'Chamber']]
  return new_df

def net_worth_append_year(df, year):
  """ Adds year info to net_worth column"""
  df[f'net_worth_{str(year)}'] = df['net_worth']
  return df

def drop_post_wrangling(df):
  """Drops redundant columns and reorganizes new DataFrame"""
  df['chamber'] = df['Chamber']
  new_df = df.drop(columns=['Chamber', 'Name', 'Average', 'net_worth'])
  return new_df

def reorder_columns(df):
  """Reorders DataFrame columns to standard format"""
  cols = df.columns.tolist()
  df = df[[cols[-1], cols[0], cols[1], cols[-2]]]
  return df

# Extract data from the name column

def get_first_name(fullname):
  """ Returns the first name from the Name column"""
  first_name = fullname.split(" ")[0]
  return first_name

def get_surname(fullname):
  """ Returns the last name from the Name column"""
  surname = fullname.split(" ")[-2]
  return surname

def to_last_first_format(fullname):
  last_first = get_surname(fullname) + ", " + get_first_name(fullname)
  return last_first

def get_party(fullname):
  """ Returns the party affiliation from the Name column"""
  split_fullname = fullname.split("-")[0]
  party = split_fullname[-1]
  return party

def get_state(fullname):
  """ Returns the members state from the Name column"""
  state = fullname.split('-')[1].strip(")")
  return state

# Average column data extraction

def to_float(net_worth_str):
  """ Converts str values to float """
  net_worth_float = float(net_worth_str.replace("$", "").replace(",", ""))
  return net_worth_float

In [0]:
def wrangle_pfd_data(df, year):
  df = drop_raw_columns(df)
  df['member_name'] = df['Name'].apply(to_last_first_format)
  df['party'] = df['Name'].apply(get_party)
  # df['state'] = df['Name'].apply(get_state)
  df['net_worth'] = df['Average'].apply(to_float)
  df = net_worth_append_year(df, year=year)
  df = drop_post_wrangling(df)
  df = reorder_columns(df)

  return df

### Reformatting the DataFrames

In [53]:
pfd_16 = wrangle_pfd_data(pfd_16, 2016)
pfd_16.head()

  chamber          member_name party  net_worth_2016
0   House        Issa, Darrell     R     323782513.0
1   House         Polis, Jared     D     308189229.0
2  Senate         Warner, Mark     D     245680083.0
3   House        Delaney, John     D     219257088.0
4   House  Hollingsworth, Trey     R     142704025.0

In [54]:
pfd_15 = wrangle_pfd_data(pfd_15, 2015)
pfd_15.head()

  chamber    member_name party  net_worth_2015
0   House  Issa, Darrell     R     330050015.0
1   House   Polis, Jared     D     313556221.0
2  Senate   Warner, Mark     D     238157630.0
3   House  Delaney, John     D     232816089.0
4   House    Trott, Dave     R     177149145.0

In [55]:
pfd_14 = wrangle_pfd_data(pfd_14, 2014)
pfd_14.head()

  chamber      member_name party  net_worth_2014
0   House    Issa, Darrell     R     436500015.0
1   House     Polis, Jared     D     387864231.0
2  Senate     Warner, Mark     D     242889630.0
3   House    Delaney, John     D     214902588.0
4   House  McCaul, Michael     R     160340931.0

In [56]:
pfd_13 = wrangle_pfd_data(pfd_13, 2013)
pfd_13.head()

  chamber    member_name party  net_worth_2013
0   House  Issa, Darrell     R     448425019.0
1  Senate   Warner, Mark     D     254176651.0
2   House  Delaney, John     D     222410577.0
3   House   Polis, Jared     D     216269215.0
4   House    Trott, Dave     R     200509228.0

In [57]:
pfd_12 = wrangle_pfd_data(pfd_12, 2012)
pfd_12.head()

  chamber    member_name party  net_worth_2012
0   House  Issa, Darrell     R     464115018.0
1  Senate     Kohl, Herb     D     329913009.0
2  Senate   Warner, Mark     D     257481658.0
3   House   Polis, Jared     D     198695705.0
4   House  Delaney, John     D     154601580.0

In [58]:
pfd_11 = wrangle_pfd_data(pfd_11, 2011)
pfd_11.head()

  chamber      member_name party  net_worth_2011
0   House  McCaul, Michael     R     500624461.0
1   House    Issa, Darrell     R     480325019.0
2  Senate     Warner, Mark     D     228129609.0
3   House     Polis, Jared     D     214946679.0
4  Senate       Kohl, Herb     D     171257008.0

In [59]:
pfd_10 = wrangle_pfd_data(pfd_10, 2010)
pfd_10.head()

  chamber      member_name party  net_worth_2010
0   House    Issa, Darrell     R     448125017.0
1   House  McCaul, Michael     R     380411527.0
2   House     Harman, Jane     D     326844751.0
3  Senate      Kerry, John     D     231722794.0
4  Senate     Warner, Mark     D     192730605.0

### Merging the PFD data

In [0]:
dfs = [pfd_10,    # list of DataFrames
       pfd_11, 
       pfd_12, 
       pfd_13,
       pfd_14,
       pfd_15,
       pfd_16]

In [0]:
pfd_combined = pd.merge(pfd_10, pfd_11, how='outer')

In [0]:
pfd_combined = pd.merge(pfd_combined, pfd_12, how='outer')
pfd_combined = pd.merge(pfd_combined, pfd_13, how='outer')
pfd_combined = pd.merge(pfd_combined, pfd_14, how='outer')
pfd_combined = pd.merge(pfd_combined, pfd_15, how='outer')
pfd_combined = pd.merge(pfd_combined, pfd_16, how='outer')

In [63]:
pfd_combined.head()

  chamber      member_name  ... net_worth_2015  net_worth_2016
0   House    Issa, Darrell  ...    330050015.0     323782513.0
1   House  McCaul, Michael  ...      4150505.0             0.0
2   House     Harman, Jane  ...            NaN             NaN
3  Senate      Kerry, John  ...            NaN             NaN
4  Senate     Warner, Mark  ...    238157630.0     245680083.0

[5 rows x 10 columns]

In [64]:
def calc_yoy_increases(df):
  net_gain_11 =  df['net_worth_2011'] - df['net_worth_2010']
  df['2011_net_increase'] = (net_gain_11 / df['net_worth_2010']) * 100
  net_gain_12 =  df['net_worth_2012'] - df['net_worth_2011']
  df['2012_net_increase'] = (net_gain_12 / df['net_worth_2011']) * 100
  net_gain_13 =  df['net_worth_2013'] - df['net_worth_2012']
  df['2013_net_increase'] = (net_gain_13 / df['net_worth_2012']) * 100
  net_gain_14 =  df['net_worth_2014'] - df['net_worth_2013']
  df['2014_net_increase'] = (net_gain_14 / df['net_worth_2013']) * 100
  net_gain_15 =  df['net_worth_2015'] - df['net_worth_2014']
  df['2015_net_increase'] = (net_gain_15 / df['net_worth_2014']) * 100
  net_gain_16 =  df['net_worth_2016'] - df['net_worth_2015']
  df['2016_net_increase'] = (net_gain_16 / df['net_worth_2015']) * 100

  return df

calc_yoy_increases(pfd_combined)
print(pfd_combined.shape)
pfd_combined.head()

(997, 16)

  chamber      member_name  ... 2015_net_increase  2016_net_increase
0   House    Issa, Darrell  ...         -24.38717          -1.898955
1   House  McCaul, Michael  ...         -97.41145        -100.000000
2   House     Harman, Jane  ...               NaN                NaN
3  Senate      Kerry, John  ...               NaN                NaN
4  Senate     Warner, Mark  ...          -1.94821           3.158603

[5 rows x 16 columns]

In [0]:
combined_cols = pfd_combined.columns.tolist()

In [0]:
pfd_combined = pfd_combined[[combined_cols[0],      # Reorganizing the DataFrame
                             combined_cols[1],
                             combined_cols[2],
                             combined_cols[3],
                             combined_cols[4],
                             combined_cols[-6],
                             combined_cols[5],
                             combined_cols[-5],
                             combined_cols[6],
                             combined_cols[-4],
                             combined_cols[7],
                             combined_cols[-3],
                             combined_cols[8],
                             combined_cols[-2],
                             combined_cols[9],
                             combined_cols[-1]]]

In [67]:
pfd_combined.head()

  chamber      member_name  ... net_worth_2016  2016_net_increase
0   House    Issa, Darrell  ...    323782513.0          -1.898955
1   House  McCaul, Michael  ...            0.0        -100.000000
2   House     Harman, Jane  ...            NaN                NaN
3  Senate      Kerry, John  ...            NaN                NaN
4  Senate     Warner, Mark  ...    245680083.0           3.158603

[5 rows x 16 columns]

In [68]:
pfd_combined.tail()

    chamber      member_name  ... net_worth_2016  2016_net_increase
992   House   Brown, Anthony  ...      -226998.0                NaN
993   House     Garrett, Tom  ...      -265001.0                NaN
994   House  Carbajal, Salud  ...      -361497.0                NaN
995   House   Panetta, Jimmy  ...      -533988.0                NaN
996   House     Demings, Val  ...     -2175997.0                NaN

[5 rows x 16 columns]

## Financial Contributions Datasets

### Loading the Datasets

In [0]:
def10 = pd.read_csv('https://raw.githubusercontent.com/BrianThomasRoss/Brian_Ross_DataStorytellingProject/master/raw_csv_files/Contributions/2010_Defense_Contribs%20-%20Sheet1.csv?token=ALRVPBVPSJCMTYKZS3BZPUK5WSEJ4')
def12 = pd.read_csv('https://raw.githubusercontent.com/BrianThomasRoss/Brian_Ross_DataStorytellingProject/master/raw_csv_files/Contributions/2012_Defense_Contribs%20-%20Sheet1.csv?token=ALRVPBQIHYJXEUHD7KLV7S25WTAS6')
def14 = pd.read_csv('https://raw.githubusercontent.com/BrianThomasRoss/Brian_Ross_DataStorytellingProject/master/raw_csv_files/Contributions/2014_Defense_Contribs%20-%20Sheet1.csv?token=ALRVPBXVQEIK6MBJBA7ZU525WTBDE')
def16 = pd.read_csv('https://raw.githubusercontent.com/BrianThomasRoss/Brian_Ross_DataStorytellingProject/master/raw_csv_files/Contributions/2016_Defense_Contribs%20-%20Sheet1.csv?token=ALRVPBU7JUADUMZDAMVJP5C5WTEDC')

eng10 = pd.read_csv('https://raw.githubusercontent.com/BrianThomasRoss/Brian_Ross_DataStorytellingProject/master/raw_csv_files/Contributions/2010_Energy_Contribs%20-%20Sheet1.csv?token=ALRVPBVKOCSXZG5FRWLYKE25WS64Q')
eng12 = pd.read_csv('https://raw.githubusercontent.com/BrianThomasRoss/Brian_Ross_DataStorytellingProject/master/raw_csv_files/Contributions/2012_Energy_Contribs%20-%20Sheet1.csv?token=ALRVPBTCSUJHLWWDTRI6VMC5WTAUY')
eng14 = pd.read_csv('https://raw.githubusercontent.com/BrianThomasRoss/Brian_Ross_DataStorytellingProject/master/raw_csv_files/Contributions/2014_Energy_Contribs%20-%20Sheet1.csv?token=ALRVPBS22JPKZHPLZIWQ2X25WTBIA')
eng16 = pd.read_csv('https://raw.githubusercontent.com/BrianThomasRoss/Brian_Ross_DataStorytellingProject/master/raw_csv_files/Contributions/2016_Energy_Contribs%20-%20Sheet1.csv?token=ALRVPBWYEZCM6AS3DF6XQLS5WTBJ2')

comm10 = pd.read_csv('https://raw.githubusercontent.com/BrianThomasRoss/Brian_Ross_DataStorytellingProject/master/raw_csv_files/Contributions/2010_TechComms_Contribs%20-%20Sheet1.csv?token=ALRVPBXIW64D7QXVXKVY56K5WTAPG')
comm12 = pd.read_csv('https://raw.githubusercontent.com/BrianThomasRoss/Brian_Ross_DataStorytellingProject/master/raw_csv_files/Contributions/2012_TechComms_Contribs%20-%20Sheet1.csv?token=ALRVPBW2D2LGT2UFSDPXHGK5WTA7G')
comm14 = pd.read_csv('https://raw.githubusercontent.com/BrianThomasRoss/Brian_Ross_DataStorytellingProject/master/raw_csv_files/Contributions/2014_TechComms_Contribs%20-%20Sheet1.csv?token=ALRVPBUNMTQST4W5PJU6JDS5WTBMI')
comm16 = pd.read_csv('https://raw.githubusercontent.com/BrianThomasRoss/Brian_Ross_DataStorytellingProject/master/raw_csv_files/Contributions/2016_TechComms_Contribs%20-%20Sheet1.csv?token=ALRVPBWZQ7FNUHH7OIEYA425WTBPI')

health10 = pd.read_csv('https://raw.githubusercontent.com/BrianThomasRoss/Brian_Ross_DataStorytellingProject/master/raw_csv_files/Contributions/2010_Health_Contribs%20-%20Sheet1.csv?token=ALRVPBQN7ZSXQEOAPURJKW25WTAMS')
health12 = pd.read_csv('https://raw.githubusercontent.com/BrianThomasRoss/Brian_Ross_DataStorytellingProject/master/raw_csv_files/Contributions/2012_Health_Contribs%20-%20Sheet1.csv?token=ALRVPBX74ORLB4AVSQB2BTS5WTA4K')
health14 = pd.read_csv('https://raw.githubusercontent.com/BrianThomasRoss/Brian_Ross_DataStorytellingProject/master/raw_csv_files/Contributions/2014_Health_Contribs%20-%20Sheet1.csv?token=ALRVPBRNW3Y2VL7KZEOFLFK5WTBTC')
health16 = pd.read_csv('https://raw.githubusercontent.com/BrianThomasRoss/Brian_Ross_DataStorytellingProject/master/raw_csv_files/Contributions/2016_Health_Contribs%20-%20Sheet1.csv?token=ALRVPBTLWETXSM6PIS75GAK5WTBW2')

fin10 = pd.read_csv('https://raw.githubusercontent.com/BrianThomasRoss/Brian_Ross_DataStorytellingProject/master/raw_csv_files/Contributions/2010_Finance_Contribs%20-%20Sheet1.csv?token=ALRVPBTTPFUXNRIMU6DRDIS5WS674')
fin12 = pd.read_csv('https://raw.githubusercontent.com/BrianThomasRoss/Brian_Ross_DataStorytellingProject/master/raw_csv_files/Contributions/2012_Finance_Contribs%20-%20Sheet1.csv?token=ALRVPBTKH4S7LWP2H7X26FS5WTAW2')
fin14 = pd.read_csv('https://raw.githubusercontent.com/BrianThomasRoss/Brian_Ross_DataStorytellingProject/master/raw_csv_files/Contributions/2014_Finance_Contribs%20-%20Sheet1.csv?token=ALRVPBU2ZSYNZQKS73DR7RC5WTBZG')
fin16 = pd.read_csv('https://raw.githubusercontent.com/BrianThomasRoss/Brian_Ross_DataStorytellingProject/master/raw_csv_files/Contributions/2016_Finance_Contribs%20-%20Sheet1.csv?token=ALRVPBXNVBUYY4Q45KA5MN25WTB4A')

### Wrangling

In [0]:
friendliness_labels = [1, 2, 3, 4, 5]

def get_first_name_contribs(fullname):
  first_name = fullname.split(", ")[1]
  first_name = first_name.split(" ")[0]
  return first_name

def get_last_name_contribs(fullname):
  last_name = fullname.split(",")[0]
  return last_name

def to_last_first_contribs(fullname):
  """ Changes the format of the candidate name to match that of the PFD DataFrames"""
  last_first = get_last_name_contribs(fullname) + ", " + get_first_name_contribs(fullname)
  return last_first

contribs_dfs = [def10,
                def12,
                def14,
                def16,
                eng10,
                eng12,
                eng14,
                eng16,
                fin10,
                fin12,
                fin14,
                fin16,
                comm10,
                comm12,
                comm14,
                comm16,
                health10,
                health12,
                health14,
                health16]

In [0]:
def wrangle_contribs(df, year, sector):
  df['member_name'] = df['Candidate'].apply(to_last_first_contribs)
  df['Amount'] = df['Amount'].apply(to_float)
  df[f'{sector}_friendliness_rating_{year}'] = pd.qcut(df['Amount'],
                                            5, labels=friendliness_labels)
  cols = df.columns.tolist()
  df = df[[cols[2], cols[3]]]
  return df

In [72]:
def10.head()

                  Candidate    Amount
0  Shelby, Richard C (R-AL)  $319,850
1   Inouye, Daniel K (D-HI)  $260,300
2      Murray, Patty (D-WA)  $207,110
3       McCain, John (R-AZ)  $174,300
4      Burr, Richard (R-NC)  $173,597

#### Defense

In [0]:
def10 = wrangle_contribs(def10, 2010, sector='defense')
def12 = wrangle_contribs(def12, 2012, sector='defense')
def14 = wrangle_contribs(def14, 2014, sector='defense')
def16 = wrangle_contribs(def16, 2016, sector='defense')

In [0]:
contribs_combined = pd.merge(def10, 
                             def12.drop_duplicates(),
                             on=['member_name'], how='outer')
contribs_combined = pd.merge(contribs_combined,
                             def14.drop_duplicates(),
                             on=['member_name'], how='outer')
contribs_combined = pd.merge(contribs_combined,
                             def16.drop_duplicates(),
                             on=['member_name'], how='outer')

In [75]:
contribs_combined.shape

(785, 5)

#### Energy

In [0]:
eng10 = wrangle_contribs(eng10, 2010, sector='energy')
eng12 = wrangle_contribs(eng12, 2012, sector='energy')
eng14 = wrangle_contribs(eng14, 2014, sector='energy')
eng16 = wrangle_contribs(eng16, 2016, sector='energy')

In [0]:
contribs_combined = pd.merge(contribs_combined,
                             eng10.drop_duplicates(),
                             on=['member_name'], how='outer')
contribs_combined = pd.merge(contribs_combined, 
                             eng12.drop_duplicates(),
                             on=['member_name'], how='outer')
contribs_combined = pd.merge(contribs_combined,
                             eng14.drop_duplicates(),
                             on=['member_name'], how='outer')
contribs_combined = pd.merge(contribs_combined,
                             eng16.drop_duplicates(),
                             on=['member_name'], how='outer')

In [78]:
contribs_combined.shape

(827, 9)

#### Tech / Communications

In [0]:
comm10 = wrangle_contribs(comm10, 2010, sector='tech_comm')
comm12 = wrangle_contribs(comm12, 2012, sector='tech_comm')
comm14 = wrangle_contribs(comm14, 2014, sector='tech_comm')
comm16 = wrangle_contribs(comm16, 2016, sector='tech_comm')

In [0]:
contribs_combined = pd.merge(contribs_combined,
                             comm10.drop_duplicates(),
                             on=['member_name'], how='outer', copy=False)
contribs_combined = pd.merge(contribs_combined,
                             comm12.drop_duplicates(),
                             on=['member_name'], how='outer', copy=False)
contribs_combined = pd.merge(contribs_combined, 
                             comm14.drop_duplicates(), 
                             on=['member_name'], how='outer', copy=False)
contribs_combined = pd.merge(contribs_combined,
                             comm16.drop_duplicates(),
                             on=['member_name'], how='outer', copy=False)

In [81]:
contribs_combined.shape

(887, 13)

#### Health

In [0]:
health10 = wrangle_contribs(health10, 2010, sector='health')
health12 = wrangle_contribs(health12, 2012, sector='health')
health14 = wrangle_contribs(health14, 2014, sector='health')
health16 = wrangle_contribs(health16, 2016, sector='health')

In [0]:
contribs_combined = pd.merge(contribs_combined,
                             health10.drop_duplicates(),
                             on=['member_name'], how='outer')
contribs_combined = pd.merge(contribs_combined, 
                             health12.drop_duplicates(),
                             on=['member_name'], how='outer')
contribs_combined = pd.merge(contribs_combined,
                             health14.drop_duplicates(),
                             on=['member_name'], how='outer')
contribs_combined = pd.merge(contribs_combined,
                             health16.drop_duplicates(),
                             on=['member_name'], how='outer')

In [84]:
contribs_combined.shape

(1337, 17)

#### Finance

In [0]:
fin10 = wrangle_contribs(fin10, 2010, sector='finance')
fin12 = wrangle_contribs(fin12, 2012, sector='finance')
fin14 = wrangle_contribs(fin14, 2014, sector='finance')
fin16 = wrangle_contribs(fin16, 2016, sector='finance')

In [0]:
contribs_combined = pd.merge(contribs_combined,
                             fin10.drop_duplicates(),
                             on=['member_name'], how='outer', copy=False)
contribs_combined = pd.merge(contribs_combined, 
                             fin12.drop_duplicates(),
                             on=['member_name'], how='outer', copy=False)
contribs_combined = pd.merge(contribs_combined, 
                             fin14.drop_duplicates(), 
                             on=['member_name'], how='outer', copy=False)
contribs_combined = pd.merge(contribs_combined,
                             fin16.drop_duplicates(),
                             on=['member_name'], how='outer', copy=False)

In [87]:
print("Hello, World!")

Hello, World!

In [88]:
contribs_combined.shape

(2873, 21)

In [0]:
contribs_combined.drop(contribs_combined.loc[contribs_combined['member_name']==
                                             'Rogers, Mike'].index,
                        inplace=True)

## Merging PFDs with Contributions DataFrames

In [0]:
combined_df = pd.merge(pfd_combined, contribs_combined,
                       how='left', on=['member_name'])

combined_df = combined_df.replace([np.inf, -np.inf], np.nan)

In [91]:
combined_df.shape

(997, 36)

In [92]:
combined_df.head()

  chamber  ... finance_friendliness_rating_2016
0   House  ...                                4
1   House  ...                                4
2   House  ...                              NaN
3  Senate  ...                              NaN
4  Senate  ...                                4

[5 rows x 36 columns]

In [93]:
combined_df.columns.tolist()

['chamber',
 'member_name',
 'party',
 'net_worth_2010',
 'net_worth_2011',
 '2011_net_increase',
 'net_worth_2012',
 '2012_net_increase',
 'net_worth_2013',
 '2013_net_increase',
 'net_worth_2014',
 '2014_net_increase',
 'net_worth_2015',
 '2015_net_increase',
 'net_worth_2016',
 '2016_net_increase',
 'defense_friendliness_rating_2010',
 'defense_friendliness_rating_2012',
 'defense_friendliness_rating_2014',
 'defense_friendliness_rating_2016',
 'energy_friendliness_rating_2010',
 'energy_friendliness_rating_2012',
 'energy_friendliness_rating_2014',
 'energy_friendliness_rating_2016',
 'tech_comm_friendliness_rating_2010',
 'tech_comm_friendliness_rating_2012',
 'tech_comm_friendliness_rating_2014',
 'tech_comm_friendliness_rating_2016',
 'health_friendliness_rating_2010',
 'health_friendliness_rating_2012',
 'health_friendliness_rating_2014',
 'health_friendliness_rating_2016',
 'finance_friendliness_rating_2010',
 'finance_friendliness_rating_2012',
 'finance_friendliness_rating_2014',
 'finance_friendliness_rating_2016']

In [0]:
combined_df['2010_friendliness_avg'] = combined_df[['defense_friendliness_rating_2010',
                                               'tech_comm_friendliness_rating_2010',
                                               'finance_friendliness_rating_2010',
                                               'health_friendliness_rating_2010',
                                               'energy_friendliness_rating_2010']].mean(axis=1)

In [0]:
combined_df['2012_friendliness_avg'] = combined_df[['defense_friendliness_rating_2012',
                                               'tech_comm_friendliness_rating_2012',
                                               'finance_friendliness_rating_2012',
                                               'health_friendliness_rating_2012',
                                               'energy_friendliness_rating_2012']].mean(axis=1)

In [0]:
combined_df['2014_friendliness_avg'] = combined_df[['defense_friendliness_rating_2014',
                                               'tech_comm_friendliness_rating_2014',
                                               'finance_friendliness_rating_2014',
                                               'health_friendliness_rating_2014',
                                               'energy_friendliness_rating_2014']].mean(axis=1)

In [0]:
combined_df['2016_friendliness_avg'] = combined_df[['defense_friendliness_rating_2016',
                                               'tech_comm_friendliness_rating_2016',
                                               'finance_friendliness_rating_2016',
                                               'health_friendliness_rating_2016',
                                               'energy_friendliness_rating_2016']].mean(axis=1)

In [102]:
combined_df.shape

(997, 40)

In [0]:
combined_df.to_csv('congress_net_worth.csv')